.bannerAnimated {
  width: 100%;
  padding: 70px;
  background-color: #333138;
  margin-bottom: 170px;
  overflow: hidden;
}

.containerBanner {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.skill {
  /* filter: grayscale(0%) contrast(200%) drop-shadow(0px 10px 10px black); */
  transform: scale(1);
  transition: all 0.4s ease;
}

.skill:hover {
  transform: scale(1.1);
  /* filter: grayscale(0%) contrast(100%) drop-shadow(0px 0px 0px black); */
}

@media only screen and (max-width: 1024px) {
  .bannerAnimated {
    width: 100%;
    left: 0;
    transform: none;
    margin: 0;
  }
}

/* Tablet */

@media only screen and (max-width: 768px) {
  .bannerAnimated {
    padding: 50px 20px;
  }

  .containerBanner {
    width: 100%;
    gap: 30px;
    flex-wrap: wrap;
  }
}
