.footerSection {
  background-color: #333138;
  padding: 25px 10px;
  text-align: center;
}

.copyright {
  font-size: 18px;
  color: #fffffa;
}

.copyright span {
  color: #ff312e;
}

.terms.terms {
  display: block;
  margin-top: 5px;
  color: #fffffa;
}
