.header {
  width: 100%;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 5;
  padding: 20px 0;
  backdrop-filter: blur(10px);
  mix-blend-mode: difference;
  transition: all 0.5s linear;
}

.containerHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 40px;
  text-transform: uppercase;
  position: relative;
  width: 100px;
  height: 40px;
}

.menuButton {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 13%;
  color: white;
  width: 3.5em;
  height: 3.5em;
  border-radius: 0.5em;
  background: #000013;
  border: 1px solid #000013;
  transition: all 0.3s;
  cursor: pointer;
  box-shadow: 6px 6px 12px #000013, -6px -6px 12px #000013;
}

.menuButton:hover {
  border: 1px solid 000013;
}

.menuButton:active {
  color: #000013;
  box-shadow: inset 4px 4px 12px #000013, inset -4px -4px 12px #000013;
}

.inputBurger {
  -webkit-appearance: none;
  display: none;
  visibility: hidden;
  outline: none !important;
}

.inputBurger:focus {
  outline: none !important;
}

.menuButton span {
  width: 30px;
  height: 4px;
  background: #fffffa;
  border-radius: 100px;
  transition: 0.3s ease;
}

.activeHeader .inputBurger[type] ~ span.top {
  transform: translateY(290%) rotate(45deg);
  width: 40px;
}

.activeHeader .inputBurger[type] ~ span.bot {
  transform: translateY(-270%) rotate(-45deg);
  width: 40px;
  box-shadow: 0 0 10px #fffffa;
}

.activeHeader .inputBurger[type] ~ span.mid {
  transform: translateX(-20px);
  opacity: 0;
}
