.heroSection {
  height: calc(100vh - 80px);
  overflow: initial;
}

.containerHero {
  width: 90%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.principalHero {
  font-size: 70px;
}

.principalHero span:last-of-type {
  color: #ff312e;
  font-weight: 700;
  font-size: 75px;
}

.principalHero span:first-of-type {
  color: #fffffa;
  display: block;
}

.atroposContainer {
  width: 50%;
  height: 70%;
}

.imgHero {
  width: 50%;
  height: 70%;
  position: relative;
}

.imgHeroInner {
  background-image: url(/images/me.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  width: 100%;
  height: 100%;
  -webkit-filter: grayscale(100%) contrast(120%);
  filter: grayscale(100%) contrast(120%);
  -webkit-transition: all 0.3s ease;
  transition: all 0.5s ease;
  position: relative;
}

.imgHeroInner img {
  position: relative !important;
  width: 100%;
  height: auto !important;
}

.imgHeroInner:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000103;
  background: linear-gradient(0deg, #000103 0%, rgba(0, 1, 3, 0) 100%);
}

.imgHeroInner:hover {
  -webkit-filter: grayscale(70%) contrast(160%);
  filter: grayscale(70%) contrast(160%);
}

.imgHero .beforeImg {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  /* background-color: #000; */
}

@media only screen and (max-width: 1024px) {
  .principalHero {
    font-size: 55px;
  }

  .principalHero span:last-of-type {
    color: #ff312e;
    font-weight: 700;
    font-size: 60px;
  }
}

@media only screen and (max-width: 768px) {
  .containerHero {
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: center;
  }

  .principalHero {
    position: relative;
    z-index: 1;
    margin-top: -50px;
  }
}

@media only screen and (max-width: 700px) and (orientation: landscape) {
  .imgHero {
    width: 80%;
    height: 100%;
  }

  .principalHero {
    margin-top: -25%;
  }
}

@media only screen and (max-width: 520px) {
  .imgHero {
    width: 80%;
    height: 90%;
  }

  .principalHero {
    margin-top: -120px;
    font-size: 40px;
  }

  .principalHero span:last-of-type {
    color: #ff312e;
    font-weight: 700;
    font-size: 45px;
  }
}
