.work {
  width: 40%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50%;
  margin-bottom: 120px;
  margin-top: 50px;
}

.backgroundSolid {
  position: relative;
  background-color: #515052;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 170px 0 47px;
  border-radius: 10px;
}

.gifContainer {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 0;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.showgif .gifContainer {
  opacity: 1;
}

.gifContainer img {
  object-fit: cover;
}

.gifContainer::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #00000055;
  z-index: 1;
}

.infoProject {
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 4;
  pointer-events: all;
  opacity: 0;
  transition: all 0.5s ease-in-out, opacity 0.3s ease-in-out 0s;
}

.showgif .infoProject {
  opacity: 1;
  transition: all 0.5s ease-in-out, opacity 0.5s ease-in-out 0.35s;
}

.projectName {
  font-size: 40px;
  text-transform: uppercase;
}

.descProject {
  margin: 10px;
  font-size: 20px;
  text-transform: uppercase;
}

.buttonProject {
  padding: 15px 30px;
  text-transform: uppercase;
  background-color: #ff312e;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fffffa;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 200px;
  margin-left: -100px;
  display: block;
  font-weight: bold;
}

.buttonProject:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 25px;
  background-color: #ff312e;
}

.buttonProject:before {
  content: '';
  position: absolute;
  top: calc(100% + 10px);
  left: 50%;
  transform: translateX(-50%);
  width: 50px;
  height: 25px;
  background-color: #ff312e;
  border-radius: 50%;
}

.containerImage {
  position: relative;
  transition: all 0.5s ease-in-out;
  opacity: 1;
}

.showgif .containerImage {
  opacity: 0;
}

.pcImage {
  width: 60%;
  aspect-ratio: 16/9;
  margin: -150px -25px 0;
  z-index: 0;
  order: 1;
}
.phoneImage {
  width: 15%;
  aspect-ratio: 9/16;
  z-index: 1;
  order: 2;
}
.tabletImage {
  width: 25%;
  aspect-ratio: 3/4;
  z-index: 1;
  order: 0;
}

.tabletHImage .tabletImage {
  aspect-ratio: 16/12;
  width: 30%;
}

@keyframes bgEnter {
  0% {
    -webkit-transform: translateY(0) skewY(8deg);
    transform: translateY(0) skewY(8deg);
  }
  to {
    -webkit-transform: translateY(100%) skewY(8deg);
    transform: translateY(100%) skewY(8deg);
  }
}

@media only screen and (max-width: 768px) {
  .work {
    width: 48%;
  }

  .projectName {
    font-size: 35px;
  }

  .descProject{
    font-size: 15px;
  }

  .buttonProject{
    font-size: 12px;
    padding: 10px 25px;
    width: 180px;
    margin-left: -90px;
  }

  .buttonProject:before {
    top: calc(100% + 5px);
    height: 10px;
  }

  .buttonProject:after{
    height: 10px;
  }

}

@media only screen and (max-width: 560px) {
  .work {
    width: 98%;
  }
  .projectName {
    font-size: 30px;
  }
}
